body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    text-align: center;
    width: 300px;
}

header {
    margin-bottom: 20px;
}

#player {
    background-color: #282828;
    border-radius: 10px;
    padding: 20px;
}

#now-playing {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#album-art {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 15px;
}

#song-info {
    text-align: left;
    position: relative;
    top: -10px;
    left: 5px;
}

#song-info p {
    position: relative;
    top: -21px;
    color: rgba(255, 255, 255, 0.608);
}

#controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: #00a239;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.609);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 30px;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

#play-btn {
    height: 50px;
    border-radius: 10px;
}

#emotion-display {
    margin-top: 20px;
}
